<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Tarefa</title>
</head>
<body>
    <h1>Cadastrar nova tarefa</h1>
    <form action="/tarefa" method="post">
        <label>Nome: <input type="text" name="tarefa[nome]" required></label><br>
        <label>Status: <input type="checkbox" name="tarefa[status]"></label><br>
        <button type="submit">Enviar</button>
    </form>
    <a href="/">Voltar</a>
</body>
</html>
